<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--Configurações de exibição (caracteres especiais/design responsivo)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Nome da Aba-->
    <title>D.Web-PHP</title>

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Favicon(logo na aba)-->
    <link rel="apple-touch-icon" sizes="180x180" href="/Frontend/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Frontend/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Frontend/static/favicon_io/">
    <link rel="manifest" href="/Frontend/static/favicon_io/site.webmanifest">
    
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
    <!--CSS da página-->
    <link rel="stylesheet" href="/Frontend/static/css/login-register.css">

</head>
<body>
    <!--Header-->
    <header class="header-container" id="header">
        <nav class="nav-container">
            <a class="logo" style="text-decoration: none; cursor: pointer; color: inherit;" href="/Frontend/index.html">
                <i class="bi bi-book-half"></i>
                <span>LOGO</span>
            </a>
        </nav>
    </header>

    <!--Conteudo-->
    <main>
        <section id="register-section" class="main-container hidden">
            <div class="form-container">
                <h1 class="title">Sign up</h1>

                <form class="form">
                    <div class="container">
                        <label class="label" for="register-Email">Email</label>
                        <input type="email" name="email" autocomplete="email" class="input" id="register-Email" placeholder="example@gmail.com">
                    </div>
                    <div class="container">
                        <label class="label" for="username">Username</label>
                        <input type="text" name="username" autocomplete="username" class="input" id="username">
                    </div>
                    <div class="container">
                        <label class="label" for="register-password">Senha</label>
                        <input type="password" name="password" class="input" id="register-password">
                    </div>
                    <div class="container">
                        <label class="label" for="confirm-password">Confirmar Senha</label>
                        <input type="password" name="confirm-password" class="input" id="confirm-password">
                    </div>

                    <div class="message">
                        <div id="register-message-container"></div>
                    </div>
                    <button class="sign">Cadastrar</button>
                </form>

                <div class="social-message">
                    <div class="line"></div>
                    <p class="ou">ou</p>
                    <div class="line"></div>
                </div>

                <div class="social-icons">
                    <button aria-label="Log com Google" class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                            <path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"></path>
                        </svg>
                    </button>
                </div>

                <p class="signup">Já possui um conta?
                    <a href="/Frontend/templates/login.html" id="switch-to-login" class="">Sign in</a>
                </p>
            </div>
        </section>
    </main>

    <!--Validação de Cadastro-->
    <script>
        //Função para mostrar mensagens no Cadastro
        const regmessageContainer = document.getElementById('register-message-container');
        function showMessagereg(message, type) {
            regmessageContainer.textContent = message;
            regmessageContainer.className = `message-box ${type}`;
            regmessageContainer.style.display = 'block';
        }

        const registerForm = document.querySelector("#register-section .form");
        registerForm.addEventListener('submit', async (e) => { e.preventDefault();
            regmessageContainer.style.display = 'block';

            const email = document.getElementById('register-Email').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('register-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

           /* if(!password || !email || !username || !confirmPassword){
                showMessagereg('Por favor, preencha todos os campos.','error');
                return;
            }
            if (username.length < 4){
                showMessagereg('O nome de usuário deve ter no mínimo 4 caracteres.','error');
                return;
            }
            if (password.length < 8){
                showMessagereg('A senha deve ter no mínimo 8 caracteres.', 'error');
                return;
            }
            if (password !== confirmPassword) {
                showMessagereg('As senhas não coincidem!', 'error');
                return;
            }
            */
            const formData = new URLSearchParams();
            formData.append('register-Email', email);
            formData.append('username', username);
            formData.append('register-password', password);
            formData.append('confirm-password', confirmPassword);

            try {
                const response = await fetch('http://localhost:8000/register', {
                    method: 'POST',
                    body: formData,
                    credentials: 'include' 
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    showMessagereg(errorData.message, 'error');
                    return;
                }

                const result = await response.json();
                alert('CADASTRO REALIZADO!', 'success');
                setTimeout(() => { window.location.href = '/Frontend/templates/login.html'; }, 1500);

            } catch (error) {
                console.error('Erro na requisição:', error);
                showMessagereg('Erro ao tentar conectar com o servidor. Tente novamente.', 'error');
            }
        });
    </script>
</body>
</html>